<div class="object-cover min-h-screen bg-center bg-cover bg-top-page-bg">
<% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
<% end %>
  <div>
    <div class="text-center">
      <h1 class="mt-8 mb-5 text-3xl font-bold sm:text-3xl md:text-5xl lg:text-7xl">DANSYARIへようこそ！</h1>
      <p class="mx-10 mb-10 text-1xl sm:text-xl">捨てようか迷っている品物を思い出と共に投稿して断捨離をサクサク進めるためのサービスです。</p>
    </div>
  </div>
  <div class="relative mx-20 mt-40 sm:mx-40 md:mx-50 lg:mx-80">
    
    <%= search_form_for @q, url: search_items_path do |f| %>
      <div data-controller="autocomplete" data-autocomplete-url-value="/items/autocomplete" role="combobox">
        <%= f.search_field :name_or_user_name_or_genre_name_or_tags_name_eq, data: { autocomplete_target: 'input' }, id:"search_field", placeholder: "品物名、ユーザー名、ジャンル、タグ", class: "block w-full p-4 md:px-10 text-sm text-gray-900 rounded-lg bg-gray-50 focus:ring-gray-500 focus:border-gray-500 placeholder:opacity-0 placeholder:md:opacity-100" %>
        <ul class="absolute w-full bg-white list-group md:text-sm max-w-max" data-autocomplete-target="results"></ul>
          <svg class="absolute w-4 h-4 transform -translate-y-1/2 top-1/2 right-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        <%= f.submit "", class: "absolute top-0 right-0 h-full p-4 text-sm font-medium rounded-r-lg text-gray focus:ring-4 focus:outline-none cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>