
<%= turbo_frame_tag 'comment_form' do %>
  <%= form_with model: [@comment.commentable, comment], id: "#{dom_id(comment)}_form" do |form| %>
    <% comment.errors.full_messages.each do |message| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= message %>
      </div>
    <% end %>
  <div class="mb-3">
    <%= form.label :body ,Comment.human_attribute_name(:body), class:" text-xl font-bold" %><br>
    <%= form.text_area :body, class: "w-full" %>
  </div>
  <div class="text-end">
    <%= form.submit t('defaults.submission'), class:"bg-green-500 hover:bg-green-600 transition-all duration-300 text-white rounded py-3 px-12 font-bold text-xl cursor-pointer " %>
  </div>
  <% end %>
<% end %>