<%= content_for(:title, t('.title')) %>
<div class="bg-[#f5eace]">
<%= render 'shared/header' %>
  
  <div class="container mx-auto">
    <h1 class="secondary-title"><%= t('.title') %></h1>
    <div class="mx-2 md:flex">
      <div class="px-10 pb-3 mt-20 mb-8 text-xl font-bold md:w-1/3">
        <p class="third-title">サイドバー</p>
        <ul>
          <li class="mb-3"><%= link_to t('mypage.profiles.show.items_list'), all_items_path %></li>
          <li class="mb-3"><%= link_to t('mypage.profiles.show.good'), favorites_user_path(current_user) %></li>
          <li class="mb-3"><%= link_to t('mypage.profiles.show.edit_account'), edit_mypage_profile_path %></li>
        </ul>
      </div>

      <div class="px-10 pb-3 mt-10 text-xl font-bold md:mb-8 md:w-2/3">
        <div class="items-center text-center md:space-x-12 md:flex">
          <div>
            <% if @user && @user.icon? %>
              <%= image_tag @user.icon.url, size:'200x200', class:"rounded-full mx-auto" %>
            <% else %>
              <%= image_tag 'NO_PHOTO.png', size:'200x200', class: "rounded-full mx-auto" %>
            <% end %>
          </div>
          <div>
            <p class="pt-3 mb-3 text-3xl sm:pt-0"><%= current_user.name %></p>
            <%= link_to follows_user_path(@user) do %>
              <p class="mb-1 text-xl"><%= t('mypage.profiles.show.follow') %><%= @user.followers.count %>人</p>
            <% end %>
            <%= link_to followers_user_path(@user) do %>
              <p class="text-xl"><%= t('mypage.profiles.show.follower')%><%= @user.followeds.count %>人</p>
            <% end %>
          </div>
        </div>
        <div class="flex justify-between mt-20 mb-20">
          <div>
            <%= link_to trashed_item_path(@user) do %>
              <p class="mb-5 text-2xl text-center md:mb-2"><%= t('mypage.profiles.show.trash_items') %></p>
              <p class="text-3xl text-center underline"><%= current_user.items.where(reason_status: 'trash').count %>件</p>
            <% end %>
          </div>
          <div>
            <%= link_to stay_item_path(@user) do %>
              <p class="mb-5 text-2xl text-center md:mb-2"><%= t('mypage.profiles.show.stay_items') %></p>
              <p class="text-3xl text-center underline"><%= current_user.items.where(reason_status: 'stay').count %>件</p>
            <% end %>
          </div>
          <div>
            <%= link_to worry_item_path(@user) do %>
              <p class="mb-5 text-2xl text-center md:mb-2"><%= t('mypage.profiles.show.worry_items') %></p>
              <p class="text-3xl text-center underline"><%= current_user.items.where(reason_status: 'worry').count %>件</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>