<% set_meta_tags title: t('.title') %>
<div class="bg-[#f5eace] grow">
<%= render 'shared/header' %>
  <div>
    <div class="container mx-auto">
      <h1 class="secondary-title"><%= t('.title') %></h1>
      <div class="grid grid-cols-1 gap-10 lg:grid-cols-3 md:grid-cols-2 auto-rows-auto place-content-center place-items-center">
        <% if @favorite_items.present? %>
          <%= render partial: 'favorite', collection: @favorite_items, as: :item %>
        <% else %>
          <p><%= t('.no_result') %><br><%= link_to "他の人の投稿", items_path, class: "underline pointer text-xl font-bold"%>を見て、いいねしてみましょう！</p>
        <% end %>
      </div>
      <%= paginate @favorite_items %>
    </div>
  </div>
</div>