<div class="bg-[#f5eace]">
<%= render 'shared/header' %>
  <div>
    <div class="container mx-auto">
      <h1 class="secondary-title"><%= t('.title') %></h1>
      <div class="grid grid-cols-1 gap-10 pb-6 lg:grid-cols-3 md:grid-cols-2 auto-rows-auto place-content-center place-items-center">
        <% @followeds.each do |followed| %>
          <ul class="p-5 border-4 border-[#5b4744] border-dashed rounded-3xl shadow-xl bg-[#eee5bc]">
            <li class="pb-1 text-xl font-bold"><%= link_to user_path(followed.followed.id) do %>
              <%= t('defaults.user_name')%><%= followed.followed.name %>
            <% end %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>

