<%= content_for(:title, t('.title')) %>
<div class="bg-[#f5eace]">
<% if logged_in? %>
  <%= render 'shared/header' %>
<% else %>
  <%= render 'shared/before_login_header' %>
<% end %>
  <div>
    <div class="container mx-auto">
      <h1 class="secondary-title"><%= t('.title') %></h1>
      <div class="mx-10">

        <p class="mb-3 text-xl font-bold"><%= t('contacts.confirm.name') %></p>
        <p class="text-xl indent-6"><%= @contact.name %></p>
        <p class="mt-4 mb-3 text-xl font-bold"><%= t('contacts.confirm.email') %></p>
        <p class="mb-3 text-xl indent-6"><%= @contact.email %></p>
        <p class="mt-4 mb-3 text-xl font-bold"><%= t('contacts.confirm.content') %></p>
        <p class="text-xl indent-6"><%= @contact.content %></p>
        
        <div class="flex space-x-6">
          <%= form_for(@contact) do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :content %>
            <%= f.submit t('contacts.confirm.submit'), class: "bg-green-500 hover:bg-green-600 transition-all duration-300 text-white rounded py-3 px-20 font-bold mt-10 text-xl cursor-pointer" %>
          <% end %>
          
          <%= form_for @contact, url: back_contacts_path do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :content %>
            <%= f.submit t('contacts.confirm.back'), class: "bg-yellow-500 hover:bg-yellow-600 transition-all duration-300 text-white rounded py-3 px-20 font-bold mt-10 text-xl mb-20 cursor-pointer" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>