<div class="mb-5">
  <ul class="p-5 border-4 border-[#5b4744] border-dashed rounded-3xl shadow-xl bg-[#eee5bc]">
    <%= link_to item_path(item) do %>
      <li class="pb-1 text-xl font-bold"><%= t('defaults.name') %><%= item.name %></li>
    <% end %>
    <% if logged_in? %>
      <% if current_user.own?(item) %>
        <%= link_to mypage_profile_path do %>
          <p class="mb-2 text-xl font-bold">by：<%= item.user.name %></p>
        <% end %>
      <% else %>
        <%= link_to mypage_profile_show_path(item.user) do %>
          <p class="mb-2 text-xl font-bold">by：<%= item.user.name %></p>
        <% end %>
      <% end %>
    <% else %>
      <p class="mb-2 text-xl font-bold">by：<%= item.user.name %></p>
    <% end %>
      <li><%= image_tag item.item_image.url, size: '300x300', class:"pb-3 mx-auto" %></li>
      <li>
        <span class="mb-2 text-xl font-bold"><%= t('defaults.tag') %></span>
        <% item.tags.each do |tag| %>
          <%= link_to tag.name, item_search_tag_path(item_id: item.id, tag_id: tag.id), class: 'font-bold text-xl' %>
          <%="(#{tag.items.count})" %>
        <% end %>
      </li>
      <li>
        <% if item.genre %>
          <%= link_to item_search_genre_path(item_id: item.id, genre_id: item.genre.id) do %>
            <li class="pb-1 text-xl font-bold"><%= t('defaults.genres') %><%= item.genre.name %></li>
          <% end %>
        <% end %>
      </li>
      <li><p class="text-xl font-bold"><%= item.reason_status_i18n %><%= t('defaults.reason') %></p>
        <p class="text-lg"><%= item.reason_content %></p>
      </li>
  </ul>
</div>