<% set_meta_tags title: t('.title') %>
<div class="bg-[#f5eace] grow">
<% if logged_in? %>
  <%= render 'shared/header' %>
<% else %>
  <%= render 'shared/before_login_header' %>
<% end %>
  <div>
    <div class="container mx-auto">
      <h1 class="secondary-title"><%= t('.title') %></h1>
      <div class="relative mx-10 md:mx-auto">
        <%= search_form_for @q, url: search_items_path do |f| %>
          <div data-controller="autocomplete" data-autocomplete-url-value="/items/autocomplete" role="combobox">
            <%= f.search_field :name_or_user_name_or_genre_name_or_tags_name_eq, data: { autocomplete_target: 'input' }, id:"search_field", placeholder: "品物名、ユーザー名、ジャンル、タグ", class: "block w-full p-4 md:px-10 text-sm text-gray-900 rounded-lg bg-gray-50 focus:ring-gray-500 focus:border-gray-500 placeholder:opacity-0 placeholder:md:opacity-100" %>
            <ul class="absolute w-full bg-white list-group md:text-sm max-w-max" data-autocomplete-target="results"></ul>
              <svg class="absolute w-4 h-4 transform -translate-y-1/2 right-4 top-7" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
            <%= f.submit "", class: "absolute top-0 right-0 h-full p-4 text-sm font-medium rounded-r-lg text-gray focus:ring-4 focus:outline-none cursor-pointer" %>
          </div>
        <% end %>
      </div>
      <div class="mx-10 mt-2 mb-6 md:mx-auto">
        <p>→品物投稿フォームは<%= link_to "こちら", new_item_path, class: "underline font-bold hover:text-lime-800" %></p>
      </div>
      <div class="grid grid-cols-1 gap-10 lg:grid-cols-3 md:grid-cols-2 auto-rows-auto place-content-center place-items-center">
        <% if @items.present? %>
          <%= render @items %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <%= paginate @items %>
    </div>
  </div>
</div>