<div class="bg-[#f5eace]">
<%= render 'shared/header' %>
  <div class="container mx-auto">
    <h1 class="secondary-title"><%= t('.title') %></h1>
  
    <div class="-mx-2 md:flex">
      <div class="px-10 pb-3 mb-8 text-xl font-bold md:w-1/2">
        <%= t('items.show.name') %><%= @item.name %><br>
        <% if current_user.own?(@item) %>
          <%= link_to mypage_profile_path do %>
            <p class="mt-2">by：<%= @item.user.name %></p>
          <% end %>
        <% else %>
          <%= link_to mypage_profile_show_path(@item.user) do %>
            <p class="mt-2">by：<%= @item.user.name %></p>
          <% end %>
        <% end %>
        
        <%= image_tag @item.item_image.url, size:'400x400', class:"mt-4" %>
      </div>
      <div class="px-10 pb-5 md:w-1/2">
        <div>
          <% if @item.favorited?(current_user) %>
            <%= link_to item_favorites_path(@item.id), data: { turbo_method: :delete }, class: 'flex items-baseline justify-end' do %>
              <p class="text-rose-600"><%= t('items.show.good') %></p>
              <i class="fa-solid fa-thumbs-up fa-lg" style="color: #d90d0d;"></i>
            <% end %>
          <% else %>
            <%= link_to item_favorites_path(@item.id), data: { turbo_method: :post }, class: 'flex items-baseline justify-end' do %>
              <p><%= t('items.show.good') %></p>
              <i class="fa-solid fa-thumbs-up fa-lg"></i>
            <% end %>
          <% end %>
        </div>
        <div class="mb-5">
          <p class="text-xl font-bold"><%= t('items.show.episode_content') %></p>
          <%= @item.episode_content %>
        </div>
        <div class="mb-5">
          <p class="text-xl font-bold"><%= @item.reason_status_i18n %><%= t('items.show.reason') %></p>
          <%= @item.reason_content %>
        </div>
        <div class="mb-5">
          <p class="text-xl font-bold"><%= t('items.show.tag') %></p>
            <% @item_tags.each do |tag| %>
              <%= link_to tag.name, item_search_tag_path(item_id: @item.id, tag_id: tag.id) %>
            <% end %>
        </div>
        <% if current_user.own?(@item) %>
          <div class="flex justify-end space-x-5">
            <%= link_to t('defaults.edit'), edit_item_path, class: "px-5 py-2 text-xl font-bold text-white transition-all duration-300 bg-yellow-500 rounded cursor-pointer hover:bg-yellow-600"%>
            <%= link_to t('defaults.destroy'), item_path, data: { turbo_method: :delete }, class:"px-5 py-2 text-xl font-bold text-white transition-all duration-300 bg-red-500 rounded cursor-pointer hover:bg-red-600" %>
          </div>
        <% end %>
          <div>
            <%= render 'comments/comments', { comments: @comments } %>
          </div>
          <div>
            <%= render 'comments/form', { item: @item, comment: @comment } %>
          </div>
      </div> 
    </div>
  </div>  
</div>