<div class="bg-[#f5eace]">
<%= render 'shared/header' %>
  <div class="container mx-auto">
    <h1 class="secondary-title"><%= t('.title') %></h1>
  
    <div class="-mx-2 md:flex">
      <div class="px-10 pb-3 mb-8 text-xl font-bold md:w-1/2">
        <%= t('items.show.name') %><%= @item.name %><br>
        <p class="mt-2">by：<%= @item.user.name %></p>
        <%= image_tag @item.item_image.url, size:'400x400', class:"mt-4" %>
      </div>
      <div class="px-10 pb-5 md:w-1/2">
        <div class="mb-5">
          <p class="text-xl font-bold "><%= t('items.show.episode_content') %></p>
          <%= @item.episode_content %>
        </div>
        <div class="mb-5">
          <p class="text-xl font-bold"><%= @item.reason_status_i18n %><%= t('items.show.reason') %></p>
          <%= @item.reason_content %>
        </div>
        <% if current_user.own?(@item) %>
          <div class="flex justify-end space-x-5">
            <%= button_to t('items.show.edit'), "#" , class: "px-5 py-2 text-xl font-bold text-white transition-all duration-300 bg-green-500 rounded cursor-pointer hover:bg-green-600"%>
            <%= button_to t('items.show.destroy'), "#" , class: "px-5 py-2 text-xl font-bold text-white transition-all duration-300 bg-red-500 rounded cursor-pointer hover:bg-red-600"%>
          </div>
        <% end %>
      </div> 
    </div>
  </div>  
</div>